.manageOrders {
    background-color: white;
    position: static;
    right: 0rem;
    top: 0rem;
}

@media screen and (min-width: 1400px) {
    .manageOrders {
        background-color: white;
        position: absolute;
        right: 12rem;
        left: 20%;
        top: 7rem;
        margin-left:auto;
        margin-right:auto;
    }
}

.searchwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e2e2;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #000000;
    width: 65%;
    float: left;
    margin-bottom: 25px;
}

.searchBar{
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: #e2e2e2;
    color: black;
}

.addBtn{
    float: left;
    margin-left: 18%;
    flex-direction: column;
    background: #0d6efd;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 16px;
}
