.searchwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e2e2;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #000000;
    box-shadow: 0.25rem 0.25rem 0rem #d4cecb;
    width: 65%;
}

.searchBar{
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: #e2e2e2;
    color: black;
}