.Sidebar{
    height: 100%;
    width: 210px;
    background-color: #e2e2e2;
    position: absolute;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .row{
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #999897;
}

.rowIcon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.rowTitle{
    flex: 70%;
}